	
{{>nav}}
{{>gameoptions}}
<div class="box-container grid-container">
	{{>rows}}
	{{>table}}
</div>
<div id="play-again" class="hide">
	Play again
</div>
{{>footer}}


{{!-- check the height of the box-container --}}
