	
{{>nav}}
{{>gameoptions}}
<div class="points-reference">
<ul>
	<li><em>Points</em></li>
	<hr>
	<li><em>Win 5</em></li>
	<li><em>Tie 2</em></li>
	<li><em>Lose 0</em></li>
</ul>
</div>
<div class="box-container grid-container">
	{{>rows}}
	{{>table}}
</div>
<div id="play-again" class="hide">
	Play again
</div>
{{>footer}}


{{!-- check the height of the box-container --}}
