<form id="pick-form">
<p>Who should start first</p>
<input type="radio" name="player-start-options" value="player" checked> <span>Player</span><br>
<input type="radio" name="player-start-options" value="computer" > <span>Computer</span><br>
<input type="radio" name="player-start-options" value="random" > <span>Random</span><br>
<button id="submit-btn" type="button">Start Game</button>
</form>

